* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

main {
    background-color: lightgray;
    opacity: 0.95;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.background {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url("https://i.ytimg.com/vi/_ztpvg9N3Q0/maxresdefault.jpg");
}

header {
    background-color: lightgray;
    opacity: 0.95;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

input[type="radio"] {
    font-size: 25px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.intro-fieldset, .outro-fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.outro-fieldset p, button {
    margin-left: auto;
    margin-right: auto;
}

.start-button {
    margin-top: 20px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

.quiz-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    padding: 0;
}

.results * {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    font-size: 60px;
    padding: 0;
}

.intro-form legend {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.outro-form legend {
    margin-left: auto;
    margin-right: auto;
}

.question-form {
    overflow: auto;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-form * {
    font-size: 20px;
}

.question-form legend {
    max-width: 500px;
    flex-wrap: wrap;
}

.question-form div, .submit-answer, .continue-button, .retake-quiz{
    margin-top: 10px;
}

.incorrect {
    color: red;
}

.correct {
    color: green;
}

.hidden {
    display: none;
}

.hidden *{
    display: none;
}